<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Daftar baru / Masuk</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>Daftar baru / Masuk</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Daftar baru</h2>

                    <p class="lead">Belum terdafttar di Asosiasi Dosen Indonesia?</p>
                    <p>
                        Dengan mendaftarkan diri anda akan mendapatkan
                        akses ke fasilitas yang tersedia, ini adalah pendaftaran awal
                        silahkan lengkapi data anda di profil pengguna
                    </p>
                    <p class="text-muted">jika anda memiliki pertanyaan silahkan hubungi kami</p>

                    <hr>

                    <form action="customer-orders.html" method="post">
                        <div class="form-group">
                            <label for="name-login">Name</label>
                            <input type="text" class="form-control" id="name-login">
                        </div>
                        <div class="form-group">
                            <label for="email-login">Universitas</label>
                            <input type="text" class="form-control" id="email-login">
                        </div>
                        <div class="form-group">
                            <label for="email-login">Fakultas</label>
                            <input type="text" class="form-control" id="email-login">
                        </div>
                        <div class="form-group">
                            <label for="email-login">Email</label>
                            <input type="text" class="form-control" id="email-login">
                        </div>
                        <div class="form-group">
                            <label for="password-login">Password</label>
                            <input type="password" class="form-control" id="password-login">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-user-md"></i> Daftar</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Masuk</h2>

                    <p class="lead">Sudah terdaftar?</p>
                    <p class="text-muted">
                        Silahkan gunkan form dibawah ini untuk masuk
                        dan mangakses fasilitas kami
                    </p>

                    <hr>

                    <form action="customer-orders.html" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-sign-in"></i> Masuk</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
<!-- *** GET IT ***
_________________________________________________________ -->

<div id="get-it">
    <div class="container">
        <div class="col-md-8 col-sm-12">
            <h3>Segera daftarkan diri anda ?</h3>
        </div>
    </div>
</div>
