<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Daftar baru / Masuk</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>Daftar baru / Masuk</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Daftar baru</h2>
                    <p class="lead">Belum terdafttar di Asosiasi Dosen Indonesia?</p>
                    <p>
                        Dengan mendaftarkan diri anda akan mendapatkan
                        akses ke fasilitas yang tersedia, ini adalah pendaftaran awal
                        silahkan lengkapi data anda di profil pengguna
                    </p>
                    <p class="text-muted">jika anda memiliki pertanyaan silahkan hubungi kami</p>
                    <hr>
                    <h4>DATA PRIBADI</h4>

                    <form>
                        <div class="form-group">
                            <label>Foto</label><br />
                            <img src="~/img/teacher_avatar.png" class="img-thumbnail img-responsive" alt="profil" /><br /><br />
                            <button class="btn btn-default">Pilih</button>
                        </div>
                        <div class="form-group">
                            <label>Nama</label>
                            <input class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Tempat dan Tanggal Lahir</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Alamat Rumah</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Kode POS</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>No Telp</label>
                            <input class="form-control">
                        </div>
                        <div class="form-group">
                            <label>E-Mail</label>
                            <input class="form-control">
                        </div>
                        <div class="form-group">
                            <label>E-Mail</label>
                            <input class="form-control">
                        </div>
                        <div class="form-group">
                            <label>No Handphone</label>
                            <input class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control">
                                <option>Menikah</option>
                                <option>Belum Menikah</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Jenis Kelamin</label>
                            <select class="form-control">
                                <option>Laki-laki</option>
                                <option>Perempuan</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Riwayat Pendidikan</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <hr />
                        <h4>Instansi Perguruan Tinggi</h4>
                        <hr />
                        <div class="form-group">
                            <label>Nama Instansi</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Alamat Instansi</label>
                            <textarea type="text" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Kode POS</label>
                            <input type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>No Telp</label>
                            <input type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Provinsi</label>
                            <input type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Fax</label>
                            <input type="text" class="form-control"/>
                        </div>
                         <div class="form-group">
                            <label>Alasan Masuk ADI</label>
                            <textarea type="text" class="form-control"></textarea>
                        </div>
                        <hr />
                        <div class="text-center">
                            <a href="~/profile" class="btn btn-template-main">
                                <i class="fa fa-user-md"></i> Daftar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Masuk</h2>
                    <p>Sudah terdaftar?</p>
                    <p class="text-muted">
                        Silahkan gunkan form dibawah ini untuk masuk
                        dan mangakses fasilitas kami
                    </p>
                    <hr>
                    <form action="customer-orders.html" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="text-center">
                            <a href="~/profile" class="btn btn-template-main"><i class="fa fa-sign-in"></i> Masuk</a>
                        </div>
                    </form>
                    <hr />
                    <h4>KETENTUAN KEANGGOTAAN</h4>
                    <ul>
                        <li>
                            Dosen Tetap pada PerguruanTinggi, mempunyai NIDN/pangkat akademik dan 
                            aktif mengirimkan tulisan untuk Jurnal dan Majalah Lecturer Asosiasi Dosen Indonesia</li>
                        <li>
                            Mengisi Formulir Keanggotaan
                        </li>
                    </ul>
                    <hr />
                    <h4>KARYA ILMIAH/TULISAN</h4>
                    <ul>
                        <li>Jika Tulisan anda ingin di muat di Majalah ADI maka dapat mengirimkan tulisan 
                        tersebut melalui email : <a href="mailto:redaksiadi@yahoo.co.id">redaksiadi@yahoo.co.id</a></li>
                    </ul>
                    <hr />
                    <h4>TEKNIS IURAN ANGGOTA</h4>
                    <ul>
                        <li>Uang Administrasi Rp. 200.000</li>
                        <li>Iuran Anggota, ditentukan dan diberikan kepada masing-masing pimpinan wilayah/cabang</li>
                        <li>Sumbangan Sukarela nominal tidak ditentukan</li>
                        <li>Langganan Majalah</li>
                    </ul>
                    <hr />
                    <h4>CARA PEMBAYARAN</h4>
                    <ul>
                        <li>Transfer Via Bank BNI Cabang Melawai Raya No.Rek 01221-055-63</li>
                        <li>Uang Tunai,disetorkan langsung kepada Kepala Kesekretariatan MPP ADI</li>
                        <li>Secara Kolektif diserahkan kepada Pimpinan Wilayah atau kordinator Cabang Perguruan Tinggi</li>
                    </ul>
                </div>

                <div class="box">
                    <label>Sekretariat MPP ADI</label>
                    <p>Jl. Ir. H. Juanda No. 88 Ciputat Tangerang Banten 15412</p>
                    <p>Telp. <a href="tel:021-7492192">021-7492192</a> / SMS /WA Center <a href="tel:081221309840">081221309840</a> Email. <a href="mailto:redaksiadi@yahoo.co.id">redaksiadi@yahoo.co.id</a></p>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
<!-- *** GET IT ***
_________________________________________________________ -->
<div id="get-it">
    <div class="container">
        <div class="col-md-8 col-sm-12">
            <h3>Segera daftarkan diri anda ?</h3>
        </div>
    </div>
</div>
